.list
    height: 100vh //"calc(100vh - %s)" % $HeaderHeight
    width: calc(100vw - 5px)
    fixed: bottom left
    text-align: center
    scrollable()
    &::-webkit-scrollbar
        width 5px

    &::-webkit-scrollbar-track
        margin-top: 100px
        margin-bottom: 5px

    .items_show
        -webkit-user-select: none
        text-align: left
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        align-content: flex-start
        align-items: flex-start
        width: calc(50% - 5px)
        height: 100%
        float: left
        background: rgba(138, 138, 138, 0.14)
        scrollable()

        .title_history
            color: $Text1
            padding: 25px 10px 10px
            font-size: 1.2em
            text-align: left

    .items_movie
        -webkit-user-select: none
        text-align: left
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        align-content: flex-start
        align-items: flex-start
        width: calc(50% - 5px)
        height: 100%
        float: left
        scrollable()

        .title_history
            color: $Text1
            padding: 25px 10px 10px
            font-size: 1.2em
            text-align: left

    .items
        -webkit-user-select: none
        text-align: left
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around
        align-content: flex-start
        align-items: flex-start
        width: calc(100% - 5px)
        padding-top: 125px

    .error
        font-size: 1.5em
        text-align: center
        width: 80%
        margin: 180px auto
        position: absolute
        left:0
        right:0
        color: $TextError
        font-weight: bold

    > .spinner
        position: fixed
        width: 100%;
        height: 100%;
        pointer-events: all
        background-color: rgba(10, 10, 10, .4)
        z-index: 1

        .loading-container
            margin: 180px auto 0px
            opacity: .8;
