.dropdown-toggle
.select-item
    cursor pointer

  & .icon.material-icons
      opacity 0.65
      font-size 1em
      margin-left 10px
      &:after
        content "arrow_drop_down"

.open .dropdown-toggle
  & .icon
      &:after
        content "arrow_drop_up"
        color: rgba(0, 0, 0, 0.65)

@import "lang_dropdown"
@import "filter_dropdown"
@import "search_dropdown"
@import "selector_dropdown"
