.filter-bar
    z-index: 10
    width: 100%
    opacity: 1
    height: 35px
    background-color: $FilterBarBg
    -webkit-user-select: none
    position: absolute
    top: $TitleHeight
    height: $FilterBarHeight
    box-shadow: $TopBarShadow

    .source
        box-sizing: content-box
        color: $FilterBarText
        text-align: center
        cursor: pointer
        height: 20px
        vertical-align: middle
        margin: 10px
        padding: 5px 0
        font-size: 1.85em
        text-transform: uppercase
        font-weight: 700


        &:hover
            color: $FilterBarTextHover

        &.active
            color: $FilterBarTextHover
            border-bottom: 4px solid $FilterBarActive

    .nav-hor.left
        margin-left: 20px
    .nav.filters
        float: left
        margin-left: 10px

        & > li
          display inline-block

    .nav.right
        margin-right: 5px

    .filter
        padding: 10px 0 0
        margin-left: 20px

        & > a
            display: inline-block
            padding: 0
            color: $FilterBarText
            background-color: transparent !important

            &:hover
                color: $FilterBarTextHover
        .value
            color: $FilterBarActive
            padding-left: 10px

        .dropdown-menu
            font-size: 1.25em
            scrollable()
            vertical-align: middle
            max-height: 448px
            margin-top: 11px
            border-top-left-radius: 0
            border-top-right-radius: 0

    i
        transition: color 0.5s
        margin: 10px
        color: $FilterBarIcon
        vertical-align: middle
        font-size: 1.5em
        &:hover
            color: $FilterBarIconHover
            cursor: pointer

        &.active
            &.favorites
                color: $FavoriteColor
                &:hover
                    color darken($FavoriteColor, 10)
                    transition all .5s

            &.watchlist
                color: $FilterBarActive

            &.torrent-collection
                color: $FilterBarActive

            &.about
                color: $FilterBarIconHover

    .clear
        display: none
