.filter-bar, .show-header, .nav-tabs
    z-index: 10
    width: 100%
    opacity: 1
    background-color: $FilterBarBg
    position: absolute
    display: flex
    align-items: center
    justify-content: space-between
    -webkit-user-select: none
    padding-top: 38px

    .source
        box-sizing: content-box
        color: $FilterBarText
        text-align: center
        cursor: pointer
        vertical-align: middle
        padding: 15px 0
        font-family: $TitleFont
        font-weight: normal
        font-size: 1.35em
        text-transform: uppercase
        border-bottom: 3px solid transparent
        opacity: 0.4
        margin: 0 10px
        &:hover
            opacity: 0.9
            border-bottom: 3px solid rgba(255,255,255,0.2)
        &.active, &[aria-expanded*="true"]
            border-bottom: 3px solid $FilterBarActive
            opacity: 1

    ul.nav-hor
        display: flex
        flex-wrap: nowrap
        vertical-align middle
        float: none
        &:before
            display: none
            content: ""
        &:after
            display: none
            content: ""

    .nav-hor.left
        margin-left: 20px

    .nav.filters
        margin-left: 15px

        & > li
          display inline-block
          vertical-align middle

    .nav-hor.right
        margin-right: 20px
        & > li
            &:first-child
                margin-left 0

    .filter
        margin-left: 15px

        & > a
            display: inline-block
            padding: 0
            color: $FilterBarText
            background-color: transparent !important

            &:hover
                color: $FilterBarTextHover
        .value
            color: $FilterBarActive


        .dropdown-menu
            scrollable()
            vertical-align: middle
            max-height: 448px
            margin-top: 11px
            border-top-left-radius: 0
            border-top-right-radius: 0

    i.material-icons
        transition: color 0.5s
        margin: 0 0 0 20px
        color: $FilterBarIcon
        vertical-align: middle
        font-size: 1.32em
        &:hover
            color: $FilterBarIconHover
            cursor: pointer

        &.active
            &#filterbar-favorites
                color: $FavoriteColor
                &:hover
                    color darken($FavoriteColor, 10)
                    transition all .5s

            &#filterbar-watchlist
                color: $FilterBarActive

            &#filterbar-torrent-collection
                color: $FilterBarActive

            &#filterbar-about
                color: $FilterBarIconHover

    .clear
        display: none
