.filter-dropdown
    position relative
    display inline-block
    vertical-align middle
    color $FilterDropdownText
    text-align left
    width auto

    .drop-head
        position relative
        border-radius 5px 5px 0 0
        z-index: 99
        padding 12px 15px

        .category
            font-family $MainFont
            font-weight bold
            font-size 0.65em
            line-height 0.5em
            opacity 0.25
            margin 0
            padding 0
            text-transform uppercase

        .select-item
            cursor pointer
            .selected
                margin 0
                padding 0
                font-family $MainFontBold
                font-size 0.9em
                line-height 0.75em
                min-width 75px
                text-transform capitalize
            .icon.material-icons
                opacity 0.65
                font-size 1em
                margin-left 10px
                &:after
                    content "arrow_drop_down"

    .filter-items

        z-index 1
        transform translate(0, -43px)
        position absolute
        display inline-block
        padding-top: 10px
        vertical-align top
        height 0
        max-height 283px
        width 100%
        background $FilterDropdownHoverBg
        border-radius 0 0 5px 5px
        overflow hidden
        opacity 0
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        -webkit-transition: transform 0.4s cubic-bezier(0.42, 0, 0, 1.4)

        li
            list-style none
            font-size 0.9em
            opacity 0
            padding 7px 13px
            display block
            transition opacity 0.25s ease
            &.open
                display none
            &:last-child
                border-bottom-right-radius 5px
                border-bottom-left-radius 5px
            &.select
                background #ddd
                opacity 1
    &.open
        .drop-head
            color: #252525 !important
            background $FilterDropdownHoverBg
            .category
                color: #252525 !important
            .select-item
                color: #252525 !important
                .icon
                    &:after
                        content "arrow_drop_up"
                        color: rgba(0, 0, 0, 0.65)
        .filter-items
            height auto
            opacity 1
            transform translate(0, -7px)
            overflow-x hidden
            overflow-y auto

            li
                color: $FilterDropdownHoverText
                opacity 0.65
                &:hover
                    background $FilterDropdownHover
                    opacity 1
                    cursor pointer



.filter-dropdown.open,
.search.open .dropdown-toggle
  background $FilterDropdownHoverBg
  color $FilterDropdownHoverText

.filter-dropdown .selected,
.filter-dropdown .icon
  display inline-block
  vertical-align middle


.filter-items

    // Inertial scrolling for touch devices (mostly useless here)
    -webkit-overflow-scrolling touch

    &::-webkit-scrollbar
        width 5px

    &::-webkit-scrollbar-track
        background-color #DDD
        border-radius 2px
        margin-top: 10px

    &::-webkit-scrollbar-thumb
        background-color $ScrollBarThumb
        border-radius 2px

        &:hover
            background-color: $ScrollBarThumbHover

    &::-webkit-resizer,
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-track-piece
        display none
