/*    Open Sans    */

@font-face
    font-family: 'Open Sans'
    font-weight: normal
    font-style: normal
    src: url(../fonts/Open-sans/OpenSans-Regular.woff)

@font-face
    font-family: 'Open Sans Bold'
    font-weight: normal
    font-style: normal
    src: url(../fonts/Open-sans/OpenSans-Bold.woff)

@font-face
    font-family: 'Open Sans Semibold'
    font-weight: normal
    font-style: normal
    src: url(../fonts/Open-sans/OpenSans-Semibold.woff)

/*    Dosis    */

@font-face
    font-family: 'Dosis'
    font-weight: normal
    font-style: normal
    src: url(../fonts/Dosis/Dosis-Regular.woff)

@font-face
    font-family: 'Dosis Semibold'
    font-weight: 600
    font-style: normal
    src: url(../fonts/Dosis/Dosis-Semibold.woff)

@font-face
    font-family: 'Dosis Bold'
    font-weight: bold
    font-style: normal
    src: url(../fonts/Dosis/Dosis-Bold.woff)

/*    Noto Sans    */

@font-face
    font-family: 'Noto Sans'
    font-weight: normal
    font-style: normal
    src: url(../fonts/Noto-sans/NotoSans-Regular.woff)

@font-face
    font-family: 'Noto Sans Bold'
    font-weight: normal
    font-style: normal
    src: url(../fonts/Noto-sans/NotoSans-Bold.woff)

/*    Material Icons    */

@font-face
    font-family: 'Material Icons'
    font-style: normal
    font-weight: 400
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../fonts/Material-icons/MaterialIcons-Regular.woff2) format('woff2'),
         url(../fonts/Material-icons/MaterialIcons-Regular.woff) format('woff')

/*    VideoJS    */

@font-face
    font-family: 'VideoJS'
    font-weight: normal
    font-style: normal
    src: url('../fonts/Vjs/vjs.eot')
    src: url('../fonts/Vjs/vjs.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vjs/vjs.woff') format('woff'),
         url('../fonts/Vjs/vjs.ttf') format('truetype')
