@font-face
    font-family: 'Noto Sans'
    src: url(../fonts/NotoSans-Regular.ttf)
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Noto Sans Bold'
    src: url(../fonts/NotoSans-Bold.ttf)
    font-weight: 800
    font-style: normal

@font-face {
    font-family: 'VideoJS';
    src: url('../fonts/vjs.eot');
    src: url('../fonts/vjs.eot?#iefix') format('embedded-opentype'), url('../fonts/vjs.woff') format('woff'), url('../fonts/vjs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}