@font-face
    font-family: 'Open Sans'
    src: url(../fonts/Open-sans/OpenSans-Regular.woff)
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Open Sans Bold'
    src: url(../fonts/Open-sans/OpenSans-Bold.woff)
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Open Sans Semibold'
    src: url(../fonts/Open-sans/OpenSans-Semibold.woff)
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Dosis'
    src: url(../fonts/Dosis/Dosis-Regular.woff)
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Dosis Semibold'
    src: url(../fonts/Dosis/Dosis-Semibold.woff)
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'Dosis Bold'
    src: url(../fonts/Dosis/Dosis-Bold.woff)
    font-weight: bold
    font-style: normal

@font-face {
    font-family: 'VideoJS';
    src: url('../fonts/Vjs/vjs.eot');
    src: url('../fonts/Vjs/vjs.eot?#iefix') format('embedded-opentype'), url('../fonts/Vjs/vjs.woff') format('woff'), url('../fonts/Vjs/vjs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/Material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/Material-icons/MaterialIcons-Regular.woff) format('woff')
}
