.movie-detail
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-flow: row wrap
    fixed: bottom left
    user-select: none
    width: 100vw
    .poster-box
        height: 75vh
        width: 35vw
        margin-left: 4vw
        position: relative
        z-index: 10

        .mcover-image
            width: 100%
            max-width: 100%
            max-height: 100%
            position: relative
            border-radius: 4px
            opacity 0
            backface-visibility: hidden
            object-fit: contain;

            &.fadein
                transition: opacity .3s ease-in;
                opacity: 1

    .content-box
        height: 75vh
        width: 60vw
        padding: 0 3vw
        display: flex
        justify-content: space-between
        flex-direction: column

        .meta-container
            height: calc(100% - 70px)
            flex: 2

            .title
                color: #FFF
                position: relative
                top: -4px
                text-stroke: 1px rgba(0,0,0,0.1)
                font-size: 48px
                font-family: $MainFontBold
                font-smoothing: antialiased

            .metadatas
                top: 15px
                height: 20px
                position: relative

                .metaitem
                    color: #FFF
                    font-size: 16px
                    position: relative
                    font-family: $MainFontBold
                    text-stroke: 1px rgba(0,0,0,0.1)
                    float: left
                    font-smoothing: antialiased
                    max-width: 35%
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis

                    &::before
                        content: ""
                        margin: 7px 15px 0px 15px
                        position: relative
                        display: inline-block
                        width: 4px
                        float: left
                        height: 4px
                        border-radius: 2px
                        background-color: #dbdbdd

                    &:first-child::before
                        display: none

                .movie-imdb-link
                    margin-top: -3px
                    width: 27px
                    float: left
                    height: 16px
                    position: relative
                    cursor: pointer
                    background: url(../images/icons/imdb.png) no-repeat


                .rating-container
                    opacity: 1
                    .hidden
                        display: none

                    .number-container
                        width: auto
                        float: left
                        font-size: 12px
                        font-family: $MainFontBold
                        color: #FFF
                        cursor: pointer
                        z-index: 2

                        em
                            font-size: 0.8em

                    .star-container
                        width: auto
                        float: left
                        position: relative
                        z-index: 2
                        cursor: pointer

                        .rating-star
                            color #FFF
                            font-size 16px
                            padding-right: 3px

                        .rating-star-half
                            color #FFF
                            font-size 16px
                            margin-left -4px
                            padding-right: 3px

                        .rating-star-half-empty
                            color #FFF
                            font-size 16px
                            margin-left: -3px
                            opacity: 0.4

                        .rating-star-empty
                            color #FFF
                            font-size 16px
                            padding-right: 3px
                            opacity: 0.4

                        .rating-star-half-container
                            width 1em
                            height 1em
                            line-height 0.8em
                            margin-right -2px
                            margin-left 2px



                .magnet-link
                    position: relative
                    font-size: 13px
                    float: right
                    margin-right: 10px
                    color: #DDD
                    cursor: pointer
                    &:hover
                        color: #FFF
                        transition: all .5s

            .overview
                position: relative
                overflow: hidden
                text-overflow: ellipsis
                float: none
                color: #FFF
                top: 25px
                padding-right: 2%
                font-family: $MainFont
                font-smoothing: antialiased
                font-size: 16px
                line-height: 1.6em
                text-align: left
                text-stroke: 1px rgba(0,0,0,0.1)
                backface-visibility: hidden
                scrollable();
                margin-bottom: 50px


#play-control {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.3);
    padding: 30px 0 50px 3vw;
    height: 200px;
}
.play-selector
        position: relative
        &:after
            content: ''
            width: 70%
            height: 100%
            top: 0
            left: 0
            position: absolute
    .play-button        
        color: #FFF
        width: 140px;
        text-align: center;
        .startStreaming
            font-size: 22px;
            text-transform: uppercase;
            margin: 0;
            line-height: 1.3em;
            height: auto;
            border-radius: 5px;
            height: 65px;
            text-align: center
            background: $MainColor
            margin-bottom: 10px
            
        i
            margin-right: 10px;
            vertical-align: text-bottom;
            line-height: 1.2em;
            font-size: 42px;
            margin-top:10px

.play-control
    height: 70px
    line-height: 35px

    .dropdowns-container
        width 240px

    
    .movie-quality-container
        margin-top: 10px
        float: left
        position: relative
        height: 15px
        width: 95px
        left: 3%
        line-height: 1

        .tooltip
            width: 85px

        .q720
            font-family: $MainFontBold
            font-smoothing: antialiased
            font-size: 11px
            color: #fff
            font-weight: normal
            position: absolute

        .q1080
            font-family: $MainFontBold
            font-smoothing: antialiased
            font-size: 11px
            color: #fff
            font-weight: normal
            left: 58px
            position: absolute

        .switch
            background: transparent
            border-radius: 32px
            display: block
            height: 12px
            position: absolute
            left: 28px
            width: 25px
            border: 2px solid #fff
            cursor: pointer

            label
                transition: color 0.2s ease
                width: 20px
                cursor: pointer
                &:nth-of-type(1)
                    left: -38px
                    position: absolute
                    text-align: right

                &:nth-of-type(2)
                    position: absolute
                    right: -30px
                    text-align: left

            .tooltip
                width: 130px

            input
                height: 7px
                left: -27px
                opacity: 0
                position: absolute
                top: -4px
                width: 79px
                z-index: 2
                cursor: pointer
                &:checked
                    z-index: 0
                    & ~ label
                        &:nth-of-type(1)
                            color: $ButtonBgActive

                        &:nth-of-type(2)
                            color: #fff

                    & ~ .toggle
                        left: 0px


                & ~ :checked
                    & ~ label
                        &:nth-of-type(1)
                            color: #fff

                        &:nth-of-type(2)
                            color: $ButtonBgActive

                    & ~ .toggle
                        left: 11px

            .toggle
                transition: left 0.2s ease
                background: $ButtonBgActive
                border-radius: 50%
                height: 10px
                left: -0px
                position: absolute
                top: -1px
                width: 10px
