.drop-selector
    border 0

    .dropdown-toggle
        position relative
        z-index: 99
        padding 12px 15px

        .select-item
            .selected
                margin 0
                padding 0
                font-family $MainFont
                font-size 0.9em
                line-height 0.75em
                min-width 75px
                text-transform capitalize
