.drop-selector
    font-family: $MainFont
    color #FFF
    border-radius:  5px
    border: 0

    .dropdown-backdrop
        display: none

    .select-item
        width: auto
        display: inline-block
        .selected
            margin: 0
            padding: 0
            font-size: 0.9em
            line-height: 0.75em
            min-width: 150px
            text-transform: capitalize

    .dropdown-toggle
        display: flex
        justify-content: space-between
        align-items: center
        position relative
        padding: 0px 5px
        align-items: center
        cursor: pointer
        font-family: $MainFontBold
        font-smoothing: antialiased
        text-align: center
        font-size: 16px
        i
            margin-right: 10px
            font-size 14px
        i, div
            display: inline-block
            vertical-align middle

    .dropdown-menu
        overflow-x: hidden
        overflow-y: auto
        width: 100%
        max-height: 245px
        margin: 0
        padding: 0
        border: 0
        border-radius: 0 0 5px 5px
        box-shadow: none
        li
            padding: 8px 0px 8px 10px
            cursor: pointer
            opacity: 0.75
            &:hover
                background: #EEE
                opacity: 1

        &::-webkit-scrollbar
            width 5px

        &::-webkit-scrollbar-track
            background-color #DDD
            border-radius 2px

        &::-webkit-scrollbar-thumb
            background-color $ScrollBarThumb
            border-radius 2px
            &:hover
                background-color: $ScrollBarThumbHover

    &.open
        background: #FFF
        color: #252525
        background-clip: padding-box
        border-radius: 5px 5px 0 0

    &.drop-settings
        font-size  0.95em
        position: relative

        .dropdown-toggle
            padding: 5px 10px
            border-radius 5px
            background #0A0C13
            color #FFF
            font-weight normal
            line-height 0.70em
            display: inline-block
            width: auto

            .selected
                text-align: left
                min-width: 125px
                display: inline-block
                padding: 5px
            i
                margin:0!important
                &:after
                    content: "arrow_drop_down"
        &.open
            .dropdown-toggle
                color: #252525
                background: transparent
                i
                    &:after
                        content: "arrow_drop_up"



    &.dropup
        .dropdown-menu
            border-radius: 5px 5px 0 0
        &.open
            border-radius: 0 0 5px 5px!important
