.drop-selector
    border 0

    .select-item
        .selected
            margin 0
            padding 0
            font-family $MainFont
            font-size 0.9em
            line-height 0.75em
            min-width 75px
            text-transform capitalize

    .dropdown-toggle
        display: flex
        position relative
        z-index: 99
        padding: 0
        align-items: center
        cursor: pointer
        height: 35px
        color: $ButtonText
        font-family: $MainFontBold
        font-smoothing: antialiased
        text-align: center
        font-size: 16px
        transition: background-color 0.5s
        border-radius 3px
        &:hover
            background: rgba(0,0,0,0.2)
            i
                margin-right: 10px
                font-size 18px

    .dropdown-menu
        padding: 0
        border: 0
        li
            padding: 10px 5px


    &.dropup
        &.open
            .lang-dropdown, &:hover
                background: $ButtonBg
                border-radius: $ButtonRadius
                background-clip: padding-box
