.settings-container-contain
    z-index 1
    background-color $BgColor1
    height 100%
    width calc(100% - 5px)
    position fixed
    padding-top: $TitleHeight + 10px

    .settings-container
        z-index 1
        width 100%
        height 100%
        position absolute
        background-color $BgColor1
        -webkit-user-select none
        padding-bottom 20px
        top: 0
        .navbar-s
            width: 100%;
            margin: 0 auto;
            text-align: center;
        .nav-tabs
            width auto
            margin 0 auto
            font-size: 0.9em
            border-bottom: none 0
            display: block
            width 100%
            position absolute
            li
                float: none;
                display: inline-block;
                a
                    margin 0
                    line-height 1
                    border-radius 0
                    padding 0
                    color #FFF
                &:hover, &.active
                    a
                        background transparent
                        border 0 none

        .tab-content
            scrollable()
            display: block
            width: 100%
            position: absolute
            top: 185px
            bottom: 0px
            .tab-pane
                .title
                    color: #FFF
                    font-weight: 900;
                    padding: 20px;
                    text-align: center;
                    opacity: .4;
                    margin-top 115px
                section
                    display block
                    .content
                        max-width: 500px;
                        margin: 0 auto;
                    .settings-row
                        color: #FFF;
                        margin: 0;
                        display: block;
                        margin: 0 20px;
                        border-bottom 1px solid rgba(255,255,255,0.15)
                        padding 20px 0
                        &:hover
                            background rgba(255,255,255,0.03)
                        .text, i, .action-item
                            display: inline-block;
                            vertical-align: middle;
                        .text
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1em
                            max-width: 60%;
                            .helper
                                opacity: 0.4
                                font-size 16px
                        i
                            font-size: 24px
                            margin: 0 20px
                            color: #FFF
                            display: inline-block

                        .action-item
                            color: #000
                            float right
                            padding-top 5px
                            select
                            width 130px
                            margin-right 15
                            .btn
                                background: $MainColor
                                color: $Pure_White
                                i
                                    margin: 0 5px 0 0;
                                    font-size: 18px;

.settings-container
    section
        &.advanced
            display: none
    .advanced
        display: none

    .success_alert
        position fixed
        bottom 25px
        right 50px
        color $Text1
        font-family $MainFont, $AlternateFont
        font-size 16px

        #checkmark-notify
            display inline-block
            width 20px
            height 20px
            transform rotate(45deg)

        #stem-notify
            position absolute
            width 3px
            height 12px
            background-color $Text1
            left 11px
            top 6px

        #kick-notify
            position absolute
            width 6px
            height 3px
            background-color $Text1
            left 6px
            top 15px


.settings-container-contain
    section
        display none
        &#title
            display: block
