// OFFICIAL POPCORN-THEME: FLAT UI

//Fonts
    $Font = 'Dosis'
    $MainFont = 'Dosis Semibold'
    $MainFontBold = 'Dosis Bold'
    $AlternateFont = sans-serif
    $ButtonFont = 'Dosis Semibold'

    $TextColor = #fff
    $MainColor = #FF1744
    $HoverColor = #74767C
    $OtherHoverColor = lighten($HoverColor, 5%)

//Main app
    $BgColor1 = #181C25
    $BgColor2 = darken($BgColor1, 10%)

    $Text1 = $MainColor
    $Text2 = #d9d9d9
    $Text3 = rgba($MainColor,.8)
    $Text4 = rgba($MainColor,.8)
    $TextError = rgba(#2c3e50,.8)

    $CloseButton = #e74c3c
    $CloseButtonHover = #c0392b

    $SpinnerColor1 = rgba($TextColor,.3)
    $SpinnerColor2 = $HoverColor

    $ScrollBarBg = #ebedef
    $ScrollBarThumb = $HoverColor
    $ScrollBarThumbHover = $OtherHoverColor

//Top Bar
    $TitleBarBg = $MainColor
    $TitleBarText = $TextColor
    $FullScreenButton = $TextColor
    $FullScreenButtonHover = $HoverColor

    $FilterBarBg = $MainColor
    $FilterBarText = $TextColor
    $FilterBarTextHover = $OtherHoverColor
    $FilterBarActive = $OtherHoverColor

    $SearchBoxBg = #495c6e

    $DropDownBg = $MainColor
    $DropDownBgHover = $HoverColor
    $DropDownTextHover = $TextColor
    $DropDownText = #e1e4e7
    $DropDownOpacity = 1.00

    $FilterBarIcon = $TextColor
    $FilterBarIconHover = $HoverColor
    $FilterBarIcon-PosterWidth = #bababa

    $TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, 0)

//Buttons
    $ButtonBg = $HoverColor
    $ButtonBgHover = #48c9b0
    $ButtonBgActive = $OtherHoverColor

    $ButtonBgDisabled = #d1d5d8

    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153

    $ButtonText = $TextColor
    $ButtonTextHover = $TextColor

    $ButtonRadius = 6px

//Checkbox
    $CheckboxBg = $MainColor
    $CheckboxCheck = $TextColor

//Posters
    $PosterRadius = 0px
    $PosterHoverBorder = $HoverColor
    $PosterHoverOverlay = rgba($MainColor, 0.5)
    $PosterShadow = 0px 0px 1px

//TV Series
    $ShowBgColor1 = $TextColor
    $ShowBgColor2 = $BgColor

    $EpisodeDetailsBg = $TextColor

    $ShowText1 = $MainColor
    $ShowText2 = #7f8c8d

    $SaisonListText = $MainColor
    $EpisodeListText = $MainColor

    $EpisodeSelectorBg = rgba(#003366,0.6)
    $EpisodeSelectorHover = darken($ShowBgColor2,10%)
    $EpisodeSelectorText = $TextColor

    $ShowWatchedIcon_false = rgba($MainColor,0.3)
    $ShowWatchedIcon_hover = rgba($MainColor,0.6)
    $ShowWatchedIcon_true = $MainColor

    $QualitySelectorBg = $ButtonBg
    $QualitySelectorText = $ButtonText

//File selector
    $FileSelectorText = $MainColor
    $FileSelectorBg = rgba(0,0,0, 0.07)
    $FileSelectorShadow = rgba(0, 0, 0, 0)

//Settings
    $SettingsCategoriesText = $OtherHoverColor
    $SettingsSeparator = #2c3e50

    $InputBoxBg = $MainColor
    $InputBoxText = #e1e4e7

    $SettingsText1 = $MainColor
    $SettingsText2 = #999

    $SettingsButtonText = $TextColor
    $SettingsButtonTextHover = $TextColor

// Notifications
    $NotificationText = $TextColor
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = $TextColor

    $NotifAlertBg = #000
    $NotifAlertText = $TextColor

//Misc
    $FavoriteColor = #e74c3c
    $WarningColor = #000
    $PngLogo = brightness(1.0)
    $PngLogo_BgColo1 = brightness(0.4)

//Player
    $PlayerColor = $OtherHoverColor


// OFFICIAL POPCORN-THEME: FLAT - END

@import 'views/app'