// OFFICIAL BUTTER-THEME: BLACK AND YELLOW (original)

//Colors
    $MainColor = #f3cc16
    $NavColor =  #070707
    $BackColor_dark = #070707
    $BackColor_light =  #070707
    $Pure_White = #FFFFFF

//Fonts
    $Font = 'Noto Sans'
    $MainFont = 'Noto Sans'
    $MainFontBold = 'Noto Sans Bold'
    $AlternateFont = sans-serif
    $TitleFont = 'Dosis Bold'

//Main app
    $BgColor1 = $BackColor_dark
    $BgColor2 = $BackColor_dark
    $Text1 = #fff
    $Text2 = #c3c5c7
    $Text3 = #a3a5a7
    $Text4 = #5b5b5b
    $TextError = #727272

    $CloseButton = #cccccc
    $CloseButtonHover = #fff

    $SpinnerColor1 = $MainColor
    $SpinnerColor2 = $MainColor

    $ScrollBarBg = #30333c
    $ScrollBarThumb = #83888c
    $ScrollBarThumbHover = $MainColor

//Top Bar
    $TitleBarBg = $NavColor
    $TitleBarText = #fff
    $TopBarShadow = 0 1px 4px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.35);
    $FullScreenButton = rgba(255,255,255, 0.65)
    $FullScreenButtonHover = $Pure_White

    $FilterBarBg = $NavColor
    $FilterBarText = #FFF
    $FilterBarTextHover = #FFF
    $FilterBarActive = $MainColor

    //FilterDropdown
    $FilterDropdownBg = $BackColor_light
    $FilterDropdownText =   $Text1
    $FilterDropdownHover = rgba(0,0,0,0.25)

    //FilterDropdownHover
    $FilterDropdownHoverBg = $Pure_White
    $FilterDropdownHoverText = $BackColor_dark

    $SearchBg = #191818
    $InputBg = #1b1b1b

    $DropDownBg = #17181b
    $DropDownBgHover = #0b131f
    $DropDownTextHover = #fff
    $DropDownText = #c3c5c7
    $DropDownOpacity = 1.0

    $FilterBarIcon = rgba(255,255,255, 0.65)
    $FilterBarIconHover = $Pure_White
    $FilterBarIcon-PosterWidth = #6a6e72


//ButtonBg
    $ButtonBg = $MainColor
    $ButtonBgHover = #225694
    $ButtonBgActive = #2468cc

    $ButtonBgDisabled = #393b3d

    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153

    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #545454
    $CheckboxCheck = $Pure_White

//Posters
    $PosterRadius = 4px
    $PosterHoverBorder = $MainColor
    $PosterHoverOverlay = rgba(24,28,37,0.75);
    $PosterShadow = 0 1px 4px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.35);

//TV Series
    $ShowBgColor1 = $BackColor_dark
    $ShowBgColor2 = $BackColor_dark

    $EpisodeDetailsBg = #1f2025

    $ShowText1 = #fff
    $ShowText2 = #8d9296

    $SaisonListText = #fff
    $EpisodeListText = #8d9296

    $EpisodeSelectorBg = #1b2d4c
    $EpisodeSelectorHover = #26272d
    $EpisodeSelectorText = #fff

    $ShowWatchedIcon_false = rgba(#fff,0.2)
    $ShowWatchedIcon_hover = rgba(#fff,0.4)
    $ShowWatchedIcon_true = #fff

    $QualitySelectorBg = rgba(43, 110, 210, 0.84)
    $QualitySelectorText = $ButtonText

//File selector
    $FileSelectorText = #eee
    $FileSelectorBg = rgba(255, 255, 255, 0.05)
    $FileSelectorShadow = rgba(0, 0, 0, 0.67)

//Settings
    $SettingsCategoriesText = $Pure_White
    $SettingsSeparator = #3a3b3e

    $InputBoxBg = #393b3d
    $InputBoxText = #c3c5c7

    $SettingsText1 = #c3c5c7
    $SettingsText2 = #8a8b8e

    $SettingsButtonText = #e3e5e7
    $SettingsButtonTextHover = #e3e5e7

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//Misc
    $PngLogo = brightness(1.0)
    $PngLogo_BgColo1 = brightness(1.0)
    $WarningColor = #FFFF00
    $FavoriteColor = #df2d37

//Player
    $PlayerColor = $MainColor

// OFFICIAL BUTTER-THEME: BLACK AND YELLOW - END

@import 'views/app'
